<% include ./partials/boilerplate %>

<div class='welcomecontainer'>
  <h1><%= message %></h1>
   <div id='home'>
    <li><a class='welcome' href='/auth/login'>Login</a></li>
    <li><a class='welcome' href='/auth/register'>Register</a></li>
   </div>
</div>


<% include ./partials/end %>




