<nav>
  <ul>
    <li><a class='bar' href='/musics'>Home</a></li>
    <li><a href='/musics'>example</a></li>
    <li><a class='bar' href='/user'>Profile</a></li>
    <li><a class='bar' href='/musics/add'>Playlist</a></li>
    <li><a class='bar' href='/auth/logout'>Logout</a></li>
  </ul>
</nav>
