<% include ../partials/boilerplate %>

<form method='POST' action='/musics'>
  <input name='mood' type='text' placeholder='mood' />
  <input name='title' type='text' placeholder='title' />
  <input name='artist' type='text' placeholder='artist' />
  <input name='genre' type='text' placeholder='genre'>
  <input type='submit' value='Submit!' />
</form>

<% include ../partials/end %>
