<% include ../partials/boilerplate %>
<% include ../partials/nav %>

<p>hey</p>
<form method="POST" action='/musics/search'>
  <input name='artist' type='text' placeholder='artist' />
  <input name='song' type='text' placeholder='title' />
  <input type='submit' value='Add!' />
</form>



<% include ../partials/end %>
